$background: url("/assets/bg-image.svg") no-repeat center / cover;
$primary: hsl(245, 52%, 44%);
$secondary: hsl(225, 41%, 11%);
$white: hsl(0, 0%, 100%);
$input: hsl(215, 23%, 84%);
$radius: 1rem;

$font-primary: "Be Vietnam Pro", sans-serif;
