$background: hsl(225, 41%, 11%) url("/assets/imgs/bg-illustration.svg")
  no-repeat 80% 100%;

$color-primary: #3662e3;
$color-white: #f2f5f9;
$input: #030617;
$placeholder: #364153;
$card: #4e80ee33;

$radius: 0.625rem;

$font-primary: "Outfit", sans-serif;
