$background: hsl(225, 41%, 11%);
$background-quote: hsl(219, 29%, 18%)
  url("/assets/imgs/bg-image-random-quote.svg") no-repeat top right / cover;

$color-primary: hsl(239, 75%, 65%);
$color-secondary: hsl(217, 18%, 65%);
$color-white: hsl(255, 255%, 100%);
$color-icon: hsl(217, 16%, 35%);

$radius: 1rem;

$font-primary: "Outfit", sans-serif;
